coremltools==8.0
cvxpy==1.5.3
tensorflow==2.15.1
matplotlib==3.8.3
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.4.1.post1
scipy==1.14.1
seaborn==0.13.2
statsmodels==0.14.4
ipykernel==6.29.5
PySCIPOpt==5.2.1